.autocomplete {
  position: absolute;
  top: 100%;
  z-index: 100;
}

@media (min-width: 0)  {
  .list-group {
    width: 400px;
    height: 250px;
    overflow-y: scroll;
    border-bottom: 1px solid rgba(0,0,0,.125);
  }
}

@media (min-width: 992px) {
  .list-group {
    width: 750px;
  }
}