.autocomplete {
  position: absolute;
  top: 100%;
  z-index: 100;
}

@media (min-width: 0) and (max-width: 992px) {
  .list-group {
    width: 400px;
  }
}

@media (min-width: 992px) {
  .list-group {
    width: 750px;
  }
}